.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  width: 72px;
  left: 0;
  background-color: white;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(235, 235, 235);
  z-index: 100;
  padding-top: 5px;
}

.sidebar-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px;
  cursor: pointer;
}

.sidebar-sections img {
  height: 24px;
  object-fit: cover;
  margin-bottom: 4px;
}

.sidebar-sections div {
  font-family: Roboto, Arial;
  font-size: 10px;
}

.sidebar-sections:hover {
  background-color: rgb(235, 235, 235);
}

@media (min-width: 1200px) {
  .sidebar-sections {
    flex-direction: row;
    justify-content: start;  
    padding-left: 24px;
  }

  .sidebar {
    width: 220px;
  }

  .sidebar-sections div {
    margin-left: 20px;
    font-size: 16px;
  }
}